.home-container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.title-section-home {
    font-size: 48px;
    font-weight: 700;
}

.sub-title-section-home {
    font-size: 24px;
    font-weight: 700;
    color: var(--color-font-secondary);
}

/* auxiliary classes */

.mt30 {
    margin-top: 30px;
}

.mb25 {
    margin-bottom: 25px;
}